.side-bar
 .side-header
  .side-header__items
   %p.side-header__items__user-name
    masa
   %ul.side-header__items__icons
    %li.side-header__items__icons__new-group
     = link_to "#" do
      = icon('fas', 'edit')
    %li.side-header__items__icons__user-edit
     = link_to "#" do
      = icon('fas', 'cog')
 .side-groups
  .side-group
   .side-group__name
    group01
   .side-group__latest-message
    メッセージまだありません。
  .side-group
   .side-group__name
    group01
   .side-group__latest-message
    メッセージまだありません。
  .side-group
   .side-group__name
    group01
   .side-group__latest-message
    メッセージまだありません。        
    
  