.SideBar
 .SideHeader
  .SideHeader__items
   %p.SideHeader__items__user-name
    masa
   %ul.SideHeader__items__icons
    %li.SideHeader__items__icons__new-group
     = link_to "#" do
      = icon('fas', 'edit')
    %li.SideHeader__items__icons__user-edit
     = link_to "#" do
      = icon('fas', 'cog')
 .SideGroups
  .SideGroup
   .SideGroup__name
    group01
   .SideGroup__LatestMessage
    メッセージまだありません。
  .SideGroup
   .SideGroup__name
    group01
   .SideGroup__LatestMessage
    メッセージまだありません。
  .SideGroup
   .SideGroup__name
    group01
   .SideGroup__LatestMessage
    メッセージまだありません。        
    
  